MEDIA_PATH=/photobooth/data/media

GEMINI_API_KEY=

IMAGE_MODIFIER="but keep the original foto just modify it based on the text and also change the person or people's outfit and expression and also change the background to fit the text better but make sure the original person is still visible and recognizable"
SINGLE_PROMPT_MODIFIER="turns this text into a single prompt to edit an existing image and make it really detailed and descriptive"

TEMP_SPEECH_TO_TEXT="Transform the scene into a vibrant 'Afro Bubblegum' sci-fi fantasy by placing the subjects in outer space as a futuristic Nairobi pop band, adding a seven-foot-tall robot falling in love, and applying a fierce, fun, and colorful aesthetic that removes any gritty realism."